*{
  font-family: Arial, Helvetica, sans-serif;
  color:black;
}
h1{
  padding-top: 10%;
  font-size: 45px;
}
p{
  padding-top:4%;
  font-size: 34px;
}



body {
  background-size: 200px 200px;
  background-color: linear-gradient(90deg,rgb(221rgb(194, 194, 194), 221)y, black) ;
  background-image:
    linear-gradient(to right, rgb(0, 0, 0) 1px, transparent 1px),
    linear-gradient(to bottom, rgb(0, 0, 0) 1px, transparent 1px);
}

button{
  background: rgb(40, 133, 255);
  border:none;
  border-radius: 15px;
  height: 60px;
  width:  200px;
  font-size: 20px;
}
button:hover{
  background:rgb(0, 153, 255);
}

#nerd{
  
  
  size: 40px;
  
  width: 20%;
  
  background: white;
  
}

#lol{
  align-items:inherit;
  padding-bottom: 10%;
}

#red{
  padding-top: 2%;
}
