*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:linear-gradient(90deg, rgb(223, 221, 221), rgb(189, 188, 188))

}

h1{
    color: black;
    padding-top: 8%;
    font-size: 40px;
}

h2{
    padding-top: 5%;
    font-size: 35px;
}

p{
    font-size: 20px;


    color:black
    
}

a{
    color:inherit;
    text-underline-offset: none;
    background:none;
}

a:hover{
    color:rebeccapurple
}
